{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<div>
  <div style="float:left; margin-bottom:15px; margin-left:15px; margin-right:15px; margin-top:15px; padding:10px; text-align:center">
    <table align="center" border="1" cellpadding="1" cellspacing="1" style="height:100px">
      <caption>Внешние характеристики</caption>
      <thead>
        <tr>
          <th scope="col" style="text-align:left">Cвойство</th>
          <th scope="col">Значение</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align:left">Пол</td>
          <td>Мужской</td>
        </tr>
        <tr>
          <td style="text-align:left">Рост</td>
          <td>196 см</td>
        </tr>
        <tr>
          <td style="text-align:left">Вес</td>
          <td>101 кг</td>
        </tr>
        <tr>
          <td style="text-align:left">Цвет кожи</td>
          <td>Нездоровый</td>
        </tr>
        <tr>
          <td style="text-align:left">Цвет глаз</td>
          <td style="text-align:left">Кари-зеленые</td>
        </tr>
        <tr>
          <td style="text-align:left">Цвет волос</td>
          <td>Русый</td>
        </tr>
        <tr>
          <td style="text-align:left">Цвет бороды</td>
          <td>Рыжий</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div style="float:left; margin-bottom:15px; margin-left:15px; margin-right:15px; margin-top:15px; padding:10px; text-align:center">
    <table border="1" cellpadding="1" cellspacing="1" style="width:300px">
      <caption>Общие характеристики</caption>
      <thead>
        <tr>
          <th scope="col">Название характеристики</th>
          <th scope="col">Показатель</th>
          <th scope="col">Бонус</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align:left">Сила</td>
          <td style="text-align:center">14</td>
          <td style="text-align:center">+2</td>
        </tr>
        <tr>
          <td style="text-align:left">Ловкость</td>
          <td style="text-align:center">12</td>
          <td style="text-align:center">+1</td>
        </tr>
        <tr>
          <td style="text-align:left">Выносливость</td>
          <td style="text-align:center">16</td>
          <td style="text-align:center">+3</td>
        </tr>
        <tr>
          <td style="text-align:left">Мудрость</td>
          <td style="text-align:center">8</td>
          <td style="text-align:center">-1</td>
        </tr>
        <tr>
          <td style="text-align:left">Интелект</td>
          <td style="text-align:center">12</td>
          <td style="text-align:center">+1</td>
        </tr>
        <tr>
          <td style="text-align:left">Харизма</td>
          <td style="text-align:center">10</td>
          <td style="text-align:center">0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div style="width:100%; height:1px; clear:both;"></div>
{% endblock %} 