<!-- templates/posts/follow.html -->
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Личная лента новостей{% endblock %}
{% block content %}
{% include 'includes/switcher.html' %}    
  {% for post in page_obj %}
    {% include 'includes/content_post.html' %}  
    {% if post.group %}     
      <a href="{% url 'posts:group_list' post.group.slug %}">
        все записи группы {{ post.group.title }}
      </a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %} 
  {% include 'includes/paginator.html' %}
{% endblock %} 